<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
        <df_amazon>
			<login>
				<button>
					<header>
						<label>Login with Amazon</label>
						<nativeColor>Gold</nativeColor>
						<nativeSize>small</nativeSize>
						<nativeType>Login</nativeType>
					</header>
					<loginPage>
						<label>Login with Amazon</label>
						<nativeColor>Gold</nativeColor>
						<nativeSize>small</nativeSize>
						<nativeType>LwA</nativeType>
					</loginPage>
					<registratonPage>
						<label>Login with Amazon</label>
						<nativeColor>Gold</nativeColor>
						<nativeSize>small</nativeSize>
						<nativeType>LwA</nativeType>
					</registratonPage>
				</button>
			</login>
		</df_amazon>
    </default>
</config>
