<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <section id='df_amazon'>
			<group
				id='login'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='2'
				translate='label'
			>
				<dfExtension>Dfe_AmazonLogin</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<label>Login</label>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/amazon-login' target='_blank'>Login with Amazon</a>» extension?]]></comment>
				</field>
				<group
					id='credentials'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
				>
					<depends><field id='enable'>1</field></depends>
					<label>Credentials</label>
					<field
						id='id'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='text'
					>
						<label>Client ID</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/1705' target='_blank'>Where to find it?</a>]]></comment>
						<validate>required-entry validate-length maximum-length-61 minimum-length-61</validate>
					</field>
					<field
						id='secret'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='obscure'
					>
						<label>Client Secret</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/1706' target='_blank'>Where to find it?</a>]]></comment>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
<!--
2016-11-23
Раньше тут ещё стояло: «validate-length maximum-length-64 minimum-length-64».
Однако после обновления Magento 2016-08-06
валидатор стал ложно срабатывать на звёздочки ранеё введённого пароля:
«validate-length maximum-length-64 minimum-length-64».
Аналогичное проявление для модуля Dfe_TwoCheckout:
https://github.com/mage2pro/2checkout/blob/1.1.9/etc/adminhtml/system.xml#L103
-->
						<validate>required-entry</validate>
					</field>
				</group>
				<group
					id='button'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
				>
					<comment><![CDATA[The authentication button (or link) setttings.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<label>Button</label>
					<group
						id='header'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='text'
					>
						<label>Header</label>
						<field
							id='enable'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='1'
							translate='label'
							type='Df\Framework\Form\Element\Checkbox'
						>
							<label>Enable?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the authentication button (or link) in the header of the frontend pages, near to the standard «<b>Sign In</b>» and «<b>Create an Account</b>» links.]]></comment>
						</field>
						<field
							id='type'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='2'
							translate='label'
							type='select'
						>
							<label>Type</label>
							<source_model>Df\Sso\Source\Button\Type\UNL</source_model>
							<comment><![CDATA[<ul class='df-note'>
	<li><b>unified button</b>: the button will look similar to the other Mage2.PRO <a href='https://mage2.pro/tags/frontend-single-sign-on' target='_blank'>frontend single sign-on</a> buttons and to the standard Magento 2 Luma buttons.</li>
	<li><b>native button</b>: the button will have a native design provided by Amazon.</li>
	<li><b>link</b>: a text link will be used instead of a button.</li>
</ul>]]></comment>
							<depends><field id='enable'>1</field></depends>
						</field>
						<field
							id='nativeType'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='3'
							translate='label'
							type='select'
						>
							<label>Native Type</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Type</source_model>
							<comment><![CDATA[You can examine the types in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='nativeSize'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='4'
							translate='label'
							type='select'
						>
							<label>Size</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Size</source_model>
							<comment><![CDATA[You can examine the sizes in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='nativeColor'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='5'
							translate='label'
							type='select'
						>
							<label>Color</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Color</source_model>
							<comment><![CDATA[You can examine the colors in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='label'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='6'
							translate='label'
							type='text'
						>
							<label>Label</label>
							<depends>
								<field id='enable'>1</field>
								<field id='type' negative='1'>N</field>
							</depends>
							<validate>required-entry</validate>
						</field>
					</group>
					<group
						id='loginPage'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
					>
						<label>Login Page</label>
						<field
							id='enable'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='1'
							translate='label'
							type='Df\Framework\Form\Element\Checkbox'
						>
							<label>Enable?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the authentication button (or link) on the «<b>Customer Login</b>» page, above the standard «<b>Registered Customers</b>» and «<b>New Customers</b>» blocks.]]></comment>
						</field>
						<field
							id='type'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='2'
							translate='label'
							type='select'
						>
							<label>Type</label>
							<source_model>Df\Sso\Source\Button\Type\UNL</source_model>
							<comment><![CDATA[<ul class='df-note'>
	<li><b>unified button</b>: the button will look similar to the other Mage2.PRO <a href='https://mage2.pro/tags/frontend-single-sign-on' target='_blank'>frontend single sign-on</a> buttons and to the standard Magento 2 Luma buttons.</li>
	<li><b>native button</b>: the button will have a native design provided by Amazon.</li>
	<li><b>link</b>: a text link will be used instead of a button.</li>
</ul>]]></comment>
							<depends><field id='enable'>1</field></depends>
						</field>
						<field
							id='nativeType'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='3'
							translate='label'
							type='select'
						>
							<label>Native Type</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Type</source_model>
							<comment><![CDATA[You can examine the types in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='nativeSize'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='4'
							translate='label'
							type='select'
						>
							<label>Size</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Size</source_model>
							<comment><![CDATA[You can examine the sizes in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='nativeColor'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='5'
							translate='label'
							type='select'
						>
							<label>Color</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Color</source_model>
							<comment><![CDATA[You can examine the colors in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='label'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='6'
							translate='label'
							type='text'
						>
							<label>Label</label>
							<depends>
								<field id='enable'>1</field>
								<field id='type' negative='1'>N</field>
							</depends>
							<validate>required-entry</validate>
						</field>
					</group>
					<group
						id='registratonPage'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
					>
						<label>Registration Page</label>
						<field
							id='enable'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='1'
							translate='label'
							type='Df\Framework\Form\Element\Checkbox'
						>
							<label>Enable?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the authentication button (or link) on the «<b>Create New Customer Account</b>» page, above the standard registration form.]]></comment>
						</field>
						<field
							id='type'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='2'
							translate='label'
							type='select'
						>
							<label>Type</label>
							<source_model>Df\Sso\Source\Button\Type\UNL</source_model>
							<comment><![CDATA[<ul class='df-note'>
	<li><b>unified button</b>: the button will look similar to the other Mage2.PRO <a href='https://mage2.pro/tags/frontend-single-sign-on' target='_blank'>frontend single sign-on</a> buttons and to the standard Magento 2 Luma buttons.</li>
	<li><b>native button</b>: the button will have a native design provided by Amazon.</li>
	<li><b>link</b>: a text link will be used instead of a button.</li>
</ul>]]></comment>
							<depends><field id='enable'>1</field></depends>
						</field>
						<field
							id='nativeType'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='3'
							translate='label'
							type='select'
						>
							<label>Native Type</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Type</source_model>
							<comment><![CDATA[You can examine the types in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='nativeSize'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='4'
							translate='label'
							type='select'
						>
							<label>Size</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Size</source_model>
							<comment><![CDATA[You can examine the sizes in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='nativeColor'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='5'
							translate='label'
							type='select'
						>
							<label>Color</label>
							<source_model>Dfe\AmazonLogin\Source\Button\Native\Color</source_model>
							<comment><![CDATA[You can examine the colors in the Amazons's «<a target='_blank' href='https://payments.amazon.com/developer/documentation/lpwa/201953980'>Button widgets</a>» documenation.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='label'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='6'
							translate='label'
							type='text'
						>
							<label>Label</label>
							<depends>
								<field id='enable'>1</field>
								<field id='type' negative='1'>N</field>
							</depends>
							<validate>required-entry</validate>
						</field>
					</group>
				</group>
			</group>
        </section>
    </system>
</config>